.message
  -# - @messages.each do |message|
  .user
    .user__name
      = message.user.name
    .user__day
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .content
    - if message.content.present?
      %p.content
        = message.content
    = image_tag message.image.url, class: 'image' if message.image.present?