.side
  .side__header
    .side__box
      .side__box__name
        risa
      .side__box__icon
        .side__box__icon-new
        =link_to "#", class:"side__box__icon-new__btn" do
          = icon('fa', 'edit')
        .side__box__icon-edit
        = link_to "#", class:"side__box__icon-sett__btn" do
          = icon('fa', 'cog')
  .side__group
    .side__group__name
      techcamp
    .side__group__message
      まだメッセージがありません

